In [1]:
import csv
import pandas as pd

In [2]:
fields = [] 
rows = [] 

# reading csv file 
with open("2018-11-28_through_2018-12-28.csv", 'r') as csvfile: 
    # creating a csv reader object 
    csvreader = csv.reader(csvfile) 
      
    # extracting field names through first row 
    fields = next(csvreader) 
  
    # extracting each data row one by one 
    for row in csvreader: 
        rows.append(row) 

df = pd.DataFrame(rows)

In [3]:
rows[32] != []

False

In [4]:
# Get Calories

calories = []
date = []
i = 0
while rows[i] != []:
    calories.append(rows[i])
    i += 1

In [ ]:
calories = pd.DataFrame(calories, columns=["Date", "calories"])
calories = calories.drop(0).reset_index().drop(columns="index")

In [38]:
calories = calories.T

In [42]:
calories.columns = calories.iloc[0]

In [48]:
calories.drop("Date", inplace = True)

In [6]:
rows[33] == ["Activities"]

True

In [7]:
rows.index(["Activities"])

33

In [8]:
# Get activities
activities = []
i = (rows.index(["Activities"]) +1)
while rows[i] != []:
    activities.append(rows[i])
    i += 1

In [9]:
activities = pd.DataFrame(activities)

In [10]:
activities[:1].values[0]

array(['Date', 'Calories Burned', 'Steps', 'Distance', 'Floors',
       'Minutes Sedentary', 'Minutes Lightly Active',
       'Minutes Fairly Active', 'Minutes Very Active',
       'Activity Calories'], dtype=object)

In [11]:
activities.columns=(activities[:1].values[0])

In [12]:
activities.drop(0, inplace=True)

In [13]:
activities = activities.reset_index().drop(columns="index")

In [30]:
activities = activities.T
activities

,0,1,2,3,4,5,6,7,8
Date,2018-11-28,2018-11-29,2018-11-30,2018-12-01,2018-12-02,2018-12-03,2018-12-04,2018-12-05,2018-12-06
Calories Burned,"3,088","3,693","3,269","3,813","3,957","3,660","3,384","3,670","3,669"
Steps,"7,602","12,380","9,559","14,510","13,257","12,915","13,763","13,865","14,774"
Distance,3.59,6.56,4.51,7.27,6.23,6.12,6.49,6.52,6.96
Floors,16,18,14,7,195,6,13,12,9
Minutes Sedentary,717,717,699,527,725,782,608,739,647
Minutes Lightly Active,272,258,288,233,265,219,199,200,198
Minutes Fairly Active,0,15,12,22,13,40,11,12,4
Minutes Very Active,0,53,6,67,70,51,67,69,78
Activity Calories,"1,361","2,051","1,577","2,124","2,305","1,993","1,663","1,968","1,962"

In [15]:
# Get food logs

rows.index(['Food Log 20181128'])

45

#### I need to turn the food logs to look like this:

Index | date_1 | date_2 | date_3 | date_4 | ... | day_n |
-------|--------|--------|--------|--------|-----|-------|
Calories| 0 | 0 | 0 | 0 | 0 | 0 |
Fat | 0 | 0 | 0 | 0 | 0 | 0 |
... | | 0 | 0 | 0 | 0 | 0 | 0 |
water | 0 | 0 | 0 | 0 | 0 | 0 |

The plan: 

1. Add a new column with the date
2. Remove all nulls
3. Pivot the dataframe so that the dates are the columns

In [16]:
# temp_idx = rows.index([]) 
# res = [rows[: temp_idx], rows[temp_idx + 1: ]]

In [17]:
"Food Log" in rows[45][0]

True

In [18]:
rows[45][0]

'Food Log 20181128'

In [19]:
indices = []
for i, elem in enumerate(rows):
    if rows[i] != []:
        if 'Food Log' in rows[i][0]:
            indices.append(i)

In [20]:
food_logs = pd.DataFrame(rows[indices[0]:])

In [21]:
food_logs.head(10)

                   0         1        2
0  Food Log 20181128      None     None
1       Daily Totals      None     None
2                     Calories        0
3                          Fat      0 g
4                        Fiber      0 g
5                        Carbs      0 g
6                       Sodium     0 mg
7                      Protein      0 g
8                        Water  0 fl oz
9               None      None     None

In [22]:
import numpy as np

In [23]:
food_logs["date"] = np.nan

In [50]:
dates

Index(['Food Log 20181222', 'Food Log 20181208', 'Food Log 20181216',
       'Food Log 20181225', 'Food Log 20181130', 'Food Log 20181128',
       'Food Log 20181228', 'Food Log 20181204', 'Food Log 20181226',
       'Food Log 20181209', 'Food Log 20181207', 'Food Log 20181205',
       'Food Log 20181220', 'Food Log 20181224', 'Food Log 20181217',
       'Food Log 20181213', 'Food Log 20181202', 'Food Log 20181203',
       'Food Log 20181212', 'Food Log 20181218', 'Food Log 20181211',
       'Food Log 20181210', 'Food Log 20181214', 'Food Log 20181201',
       'Food Log 20181206', 'Food Log 20181129', 'Food Log 20181227',
       'Food Log 20181221', 'Food Log 20181215', 'Food Log 20181223',
       'Food Log 20181219'],
      dtype='object')

In [51]:
food_logs

                     0         1        2  date
0    Food Log 20181128      None     None   NaN
1         Daily Totals      None     None   NaN
2                       Calories        0   NaN
3                            Fat      0 g   NaN
4                          Fiber      0 g   NaN
..                 ...       ...      ...   ...
305                        Carbs      0 g   NaN
306                       Sodium     0 mg   NaN
307                      Protein      0 g   NaN
308                        Water  0 fl oz   NaN
309               None      None     None   NaN

[310 rows x 4 columns]

In [24]:
food_logs.date = food_logs.date.fillna(dates[0], limit=10)

NameError: name 'dates' is not defined

In [ ]:
for i in range(len(dates)):
        print(i)
        test = food_logs.date.fillna(dates[i], limit=9)

In [49]:
dates = food_logs[0].value_counts()[2:].index