In [1]:
import csv
import pandas as pd
from datetime import timedelta, datetime

In [2]:
fields = [] 
rows = [] 

# reading csv file 
with open("2018-11-28_through_2018-12-28.csv", 'r') as csvfile: 
    # creating a csv reader object 
    csvreader = csv.reader(csvfile) 
      
    # extracting field names through first row 
    fields = next(csvreader) 
  
    # extracting each data row one by one 
    for row in csvreader: 
        rows.append(row) 

df = pd.DataFrame(rows)

In [3]:
rows[32] != []

False

----------

In [4]:
# Get Calories

calories = []
date = []
i = 0
while rows[i] != []:
    calories.append(rows[i])
    i += 1

In [5]:
calories = pd.DataFrame(calories, columns=["Date", "calories"])
calories = calories.drop(0).reset_index().drop(columns="index")

In [6]:
calories = calories.sort_values("Date").set_index("Date")

In [7]:
rows[33] == ["Activities"]

True

In [8]:
rows.index(["Activities"])

33

In [9]:
calories

           calories
Date
2018-11-28        0
2018-11-29        0
2018-11-30        0
2018-12-01        0
2018-12-02        0
2018-12-03        0
2018-12-04        0
2018-12-05        0
2018-12-06        0
2018-12-07        0
2018-12-08        0
2018-12-09        0
2018-12-10        0
2018-12-11        0
2018-12-12        0
2018-12-13        0
2018-12-14        0
2018-12-15        0
2018-12-16        0
2018-12-17        0
2018-12-18        0
2018-12-19        0
2018-12-20        0
2018-12-21        0
2018-12-22        0
2018-12-23        0
2018-12-24        0
2018-12-25        0
2018-12-26        0
2018-12-27        0
2018-12-28        0

------------------

In [10]:
# Get activities
activities = []
i = (rows.index(["Activities"]) +1)
while rows[i] != []:
    activities.append(rows[i])
    i += 1

In [11]:
activities = pd.DataFrame(activities)

In [12]:
activities.columns=(activities[:1].values[0])

In [13]:
activities.drop(0, inplace=True)

In [14]:
activities = activities.sort_values("Date").set_index("Date")

In [15]:
activities

,Calories Burned,Steps,Distance,Floors,Minutes Sedentary,Minutes Lightly Active,Minutes Fairly Active,Minutes Very Active,Activity Calories
Date,,,,,,,,,
2018-11-28,"3,088","7,602",3.59,16,717,272,0,0,"1,361"
2018-11-29,"3,693","12,380",6.56,18,717,258,15,53,"2,051"
2018-11-30,"3,269","9,559",4.51,14,699,288,12,6,"1,577"
2018-12-01,"3,813","14,510",7.27,7,527,233,22,67,"2,124"
2018-12-02,"3,957","13,257",6.23,195,725,265,13,70,"2,305"
2018-12-03,"3,660","12,915",6.12,6,782,219,40,51,"1,993"
2018-12-04,"3,384","13,763",6.49,13,608,199,11,67,"1,663"
2018-12-05,"3,670","13,865",6.52,12,739,200,12,69,"1,968"
2018-12-06,"3,669","14,774",6.96,9,647,198,4,78,"1,962"

---------

In [16]:
# Get food logs

rows.index(['Food Log 20181128'])

45

#### I need to turn the food logs to look like this:

Index | date_1 | date_2 | date_3 | date_4 | ... | day_n |
-------|--------|--------|--------|--------|-----|-------|
Calories| 0 | 0 | 0 | 0 | 0 | 0 |
Fat | 0 | 0 | 0 | 0 | 0 | 0 |
... | | 0 | 0 | 0 | 0 | 0 | 0 |
water | 0 | 0 | 0 | 0 | 0 | 0 |

The plan: 

1. Add a new column with the date
2. Remove all nulls
3. Pivot the dataframe so that the dates are the columns

In [17]:
# temp_idx = rows.index([]) 
# res = [rows[: temp_idx], rows[temp_idx + 1: ]]

In [18]:
"Food Log" in rows[45][0]

True

In [19]:
import numpy as np

In [20]:
rows[45][0]

'Food Log 20181128'

In [21]:
indices = []
for i, elem in enumerate(rows):
    if rows[i] != []:
        if 'Food Log' in rows[i][0]:
            indices.append(i)

In [22]:
food_logs = pd.DataFrame(rows[indices[0]:])

In [23]:
food_logs["date"] = np.nan

In [24]:
dates = food_logs[0].unique()

In [25]:
dates = np.delete(dates, [1,3])

In [26]:
dates = np.delete(dates, [1])

In [27]:
n_rows_start = 0
n_rows_end = 9
for i in range(0,food_logs[0].str.contains("Food Log").sum()):
    food_logs.loc[n_rows_start:n_rows_end, "date"] = dates[i]
    n_rows_start += 10
    n_rows_end += 10

In [28]:
# Now I can drop column 0, and I need to break the date column and change it to data type


food_logs.date = food_logs.date.str.slice(9,)

In [29]:
food_logs['date'] = pd.to_datetime(food_logs['date'])

In [30]:
food_logs = food_logs.dropna().set_index("date").rename(columns = {1:"Measure", 2: "Quantity"}).drop(columns= [0])

In [31]:
food_logs.Quantity = food_logs.Quantity.str.replace("mg", '').str.replace("g", '').str.replace("fl oz", '').str.replace("Calories", "").str.replace(' ', '')

In [32]:
food_logs.Quantity = food_logs.Quantity.astype("float")

In [33]:
food_logs = pd.pivot_table(data=food_logs, values="Quantity", index =food_logs.index, columns="Measure")

In [34]:
food_logs

Measure     Calories  Carbs  Fat  Fiber  Protein  Sodium  Water
date
2018-11-28       0.0    0.0  0.0    0.0      0.0     0.0    0.0
2018-11-29       0.0    0.0  0.0    0.0      0.0     0.0    0.0
2018-11-30       0.0    0.0  0.0    0.0      0.0     0.0    0.0
2018-12-01       0.0    0.0  0.0    0.0      0.0     0.0    0.0
2018-12-02       0.0    0.0  0.0    0.0      0.0     0.0    0.0
2018-12-03       0.0    0.0  0.0    0.0      0.0     0.0    0.0
2018-12-04       0.0    0.0  0.0    0.0      0.0     0.0    0.0
2018-12-05       0.0    0.0  0.0    0.0      0.0     0.0    0.0
2018-12-06       0.0    0.0  0.0    0.0      0.0     0.0    0.0
2018-12-07       0.0    0.0  0.0    0.0      0.0     0.0    0.0
2018-12-08       0.0    0.0  0.0    0.0      0.0     0.0    0.0
2018-12-09       0.0    0.0  0.0    0.0      0.0     0.0    0.0
2018-12-10       0.0    0.0  0.0    0.0      0.0     0.0    0.0
2018-12-11       0.0    0.0  0.0    0.0      0.0     0.0    0.0
2018-12-12       0.0    0.0  0.0    0.0      0.0     0.0    0.0
2018-12-13       0.0    0.0  0.0    0.0      0.0     0.0    0.0
2018-12-14       0.0    0.0  0.0    0.0      0.0     0.0    0.0
2018-12-15       0.0    0.0  0.0    0.0      0.0     0.0    0.0
2018-12-16       0.0    0.0  0.0    0.0      0.0     0.0    0.0
2018-12-17       0.0    0.0  0.0    0.0      0.0     0.0    0.0
2018-12-18       0.0    0.0  0.0    0.0      0.0     0.0    0.0
2018-12-19       0.0    0.0  0.0    0.0      0.0     0.0    0.0
2018-12-20       0.0    0.0  0.0    0.0      0.0     0.0    0.0
2018-12-21       0.0    0.0  0.0    0.0      0.0     0.0    0.0
2018-12-22       0.0    0.0  0.0    0.0      0.0     0.0    0.0
2018-12-23       0.0    0.0  0.0    0.0      0.0     0.0    0.0
2018-12-24       0.0    0.0  0.0    0.0      0.0     0.0    0.0
2018-12-25       0.0    0.0  0.0    0.0      0.0     0.0    0.0
2018-12-26       0.0    0.0  0.0    0.0      0.0     0.0    0.0
2018-12-27       0.0    0.0  0.0    0.0      0.0     0.0    0.0
2018-12-28       0.0    0.0  0.0    0.0      0.0     0.0    0.0

----------

# Test

Before we write functions to run on all of the files, we will test the functions on a new csv, just to make sure it works well.

In [99]:
fields = [] 
rows = [] 

# reading csv file 
with open("2018-05-27_through_2018-06-26.csv", 'r') as csvfile: 
    # creating a csv reader object 
    csvreader = csv.reader(csvfile) 
      
    # extracting field names through first row 
    fields = next(csvreader) 
  
    # extracting each data row one by one 
    for row in csvreader: 
        rows.append(row) 

df = pd.DataFrame(rows)

In [36]:
# Get Calories
def get_calories(rows):
    calories = []
    date = []
    i = 0
    while rows[i] != []:
        calories.append(rows[i])
        i += 1
    calories = pd.DataFrame(calories, columns=["Date", "calories"])
    calories = calories.drop(0).reset_index().drop(columns="index")
    calories = calories.sort_values("Date").set_index("Date")
    return calories

In [37]:
calories = get_calories(rows)

In [38]:
calories

           calories
Date
2018-05-27        0
2018-05-28        0
2018-05-29        0
2018-05-30        0
2018-05-31    1,210
2018-06-01        0
2018-06-02        0
2018-06-03        0
2018-06-04        0
2018-06-05        0
2018-06-06        0
2018-06-07        0
2018-06-08        0
2018-06-09        0
2018-06-10        0
2018-06-11        0
2018-06-12        0
2018-06-13        0
2018-06-14        0
2018-06-15        0
2018-06-16        0
2018-06-17        0
2018-06-18        0
2018-06-19        0
2018-06-20        0
2018-06-21        0
2018-06-22        0
2018-06-23        0
2018-06-24        0
2018-06-25        0
2018-06-26        0

In [39]:
# Get activities

def get_activities(rows):
    activities = []
    i = (rows.index(["Activities"]) +1)
    while rows[i] != []:
        activities.append(rows[i])
        i += 1

    activities = pd.DataFrame(activities)

    activities.columns=(activities[:1].values[0])

    activities.drop(0, inplace=True)

    activities = activities.sort_values("Date").set_index("Date")
    
    return activities

In [40]:
activities = get_activities(rows)

In [41]:
activities

,Calories Burned,Steps,Distance,Floors,Minutes Sedentary,Minutes Lightly Active,Minutes Fairly Active,Minutes Very Active,Activity Calories
Date,,,,,,,,,
2018-05-27,"3,407","5,347",2.52,2,825,209,21,6,"1,260"
2018-05-28,"3,213","3,875",1.83,2,668,164,0,0,922
2018-05-29,"3,466","6,448",3.04,0,899,254,9,0,"1,427"
2018-05-30,"3,324","5,519",2.6,1,"1,201",217,19,3,"1,264"
2018-05-31,"3,420","5,879",2.77,3,735,230,5,6,"1,349"
2018-06-01,"3,513","6,916",3.26,0,690,279,10,2,"1,527"
2018-06-02,"2,742","2,946",1.39,3,717,171,0,0,752
2018-06-03,"3,765","6,815",3.21,2,545,201,42,29,"1,834"
2018-06-04,"3,585","6,162",2.91,6,"1,171",225,36,8,"1,530"
2018-06-05,"3,189","4,486",2.12,4,823,177,10,0,"1,022"
2018-06-06,"2,145",0,0,0,"1,440",0,0,0,0
2018-06-07,"2,146",0,0,0,"1,440",0,0,0,0
2018-06-08,"2,465","1,929",0.91,1,"1,361",79,0,0,389
2018-06-09,"2,859","3,130",1.48,7,835,127,24,1,780
2018-06-10,"3,432","7,029",3.32,7,728,230,35,9,"1,549"
2018-06-11,"2,146",0,0,0,"1,440",0,0,0,0
2018-06-12,"3,352","4,535",2.14,1,"1,224",186,20,10,"1,241"
2018-06-13,"3,335","6,344",2.99,4,"1,186",241,5,8,"1,333"
2018-06-14,"3,533","8,316",3.92,10,591,287,22,1,"1,684"
2018-06-15,"3,422","7,249",3.42,14,693,275,11,8,"1,586"
2018-06-16,"3,313","7,806",3.68,15,749,237,18,7,"1,422"
2018-06-17,"2,940","3,544",1.67,6,862,132,9,1,791
2018-06-18,"3,385","6,189",2.92,1,744,224,5,6,"1,298"
2018-06-19,"3,560","6,055",2.86,2,686,246,15,4,"1,500"
2018-06-20,"3,256","5,665",2.67,2,722,219,0,0,"1,211"
2018-06-21,"3,430","6,480",3.06,4,654,235,18,3,"1,388"
2018-06-22,"3,290","5,805",2.74,3,"1,179",235,2,9,"1,278"
2018-06-23,"3,134","2,996",1.41,2,801,130,10,18,"1,079"
2018-06-24,"3,355","5,209",2.46,2,"1,121",243,0,10,"1,450"
2018-06-25,"3,127","3,810",1.8,1,768,183,8,0,"1,032"
2018-06-26,"2,144",0,0,0,"1,440",0,0,0,0

In [135]:
# Get food_logs

def get_food_logs(rows):
    indices = []
    for i, elem in enumerate(rows):
        if rows[i] != []:

            if 'Food Log' in rows[i][0]:
                indices.append(i)

    food_logs = pd.DataFrame(rows[indices[0]:])
    
    # Only need it if file name is ""2018-05-27_through_2018-06-26.csv""
    food_logs = food_logs.drop([41,42,43,44,45]).reset_index().drop(columns="index")

    food_logs["date"] = np.nan

    dates = food_logs[0].unique()

    dates = np.delete(dates, [1,3])

    dates = np.delete(dates, [1])

    n_rows_start = 0
    n_rows_end = 9
    for i in range(0,food_logs[0].str.contains("Food Log").sum()):
        food_logs.loc[n_rows_start:n_rows_end, "date"] = dates[i]
        n_rows_start += 10
        n_rows_end += 10


    # Now I can drop column 0, and I need to break the date column and change it to data type
    

    food_logs.date = food_logs.date.str.slice(9,)

    food_logs['date'] = pd.to_datetime(food_logs['date'])

    food_logs = food_logs.dropna().set_index("date").rename(columns = {1:"Measure", 2: "Quantity"}).drop(columns= [0])

    food_logs.Quantity = food_logs.Quantity.str.replace("mg", '').str.replace("g", '').str.replace("fl oz", '').str.replace("Calories", "").str.replace(',', '').str.replace(' ', '')

    food_logs.Quantity = food_logs.Quantity.astype("int")
    
    food_logs[food_logs.Quantity == ''] = np.nan

    food_logs = food_logs.dropna()

    food_logs = pd.pivot_table(data=food_logs, values="Quantity", index =food_logs.index, columns="Measure")
    
    return food_logs

In [118]:
indices = []
for i, elem in enumerate(rows):
    if rows[i] != []:
        if 'Food Log' in rows[i][0]:
            indices.append(i)

In [119]:
food_logs = pd.DataFrame(rows[indices[0]:])

In [120]:
food_logs.loc[40:50]

                    0                             1         2
40  Food Log 20180531                          None      None
41               Meal                          Food  Calories
42          Breakfast                          None      None
43                     Tacos, Sausage, Egg & Cheese       350
44              Lunch                          None      None
45                                         Pad Thai       860
46       Daily Totals                          None      None
47                                         Calories     1,210
48                                              Fat      42 g
49                                            Fiber       4 g
50                                            Carbs     167 g

In [121]:
food_logs = food_logs.drop([41,42,43,44,45]).reset_index().drop(columns="index")

In [122]:
food_logs.loc[40:50]

                    0         1         2
40  Food Log 20180531      None      None
41       Daily Totals      None      None
42                     Calories     1,210
43                          Fat      42 g
44                        Fiber       4 g
45                        Carbs     167 g
46                       Sodium  3,160 mg
47                      Protein      44 g
48                        Water   0 fl oz
49               None      None      None
50  Food Log 20180601      None      None

In [123]:
food_logs["date"] = np.nan

dates = food_logs[0].unique()

dates = np.delete(dates, [1,3])

dates = np.delete(dates, [1])

n_rows_start = 0
n_rows_end = 9
for i in range(0,food_logs[0].str.contains("Food Log").sum()):
    food_logs.loc[n_rows_start:n_rows_end, "date"] = dates[i]
    n_rows_start += 10
    n_rows_end += 10

In [124]:
# Now I can drop column 0, and I need to break the date column and change it to data type


food_logs.date = food_logs.date.str.slice(9,)

food_logs['date'] = pd.to_datetime(food_logs['date'])

food_logs = food_logs.dropna().set_index("date").rename(columns = {1:"Measure", 2: "Quantity"}).drop(columns= [0])

In [125]:
food_logs.Quantity = food_logs.Quantity.str.replace("mg", '').str.replace("g", '').str.replace("fl oz", '').str.replace("Calories", "").str.replace(',', '').str.replace(' ', '')

In [126]:
food_logs.Quantity.value_counts()

0       211
44        1
4         1
3160      1
167       1
42        1
1210      1
Name: Quantity, dtype: int64

In [127]:
food_logs[food_logs.Quantity == ''] = np.nan

In [128]:
food_logs.Quantity.value_counts(dropna=False)

0       211
44        1
4         1
3160      1
167       1
42        1
1210      1
Name: Quantity, dtype: int64

In [129]:
food_logs = food_logs.dropna()

In [130]:
food_logs.Quantity.value_counts(dropna=False)

0       211
44        1
4         1
3160      1
167       1
42        1
1210      1
Name: Quantity, dtype: int64

In [131]:
food_logs.Quantity = food_logs.Quantity.astype("int")

In [132]:
food_logs.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 217 entries, 2018-05-27 to 2018-06-26
Data columns (total 2 columns):
Measure     217 non-null object
Quantity    217 non-null int64
dtypes: int64(1), object(1)
memory usage: 5.1+ KB

In [133]:
food_logs = pd.pivot_table(data=food_logs, values="Quantity", index =food_logs.index, columns="Measure")

In [138]:
food_logs = get_food_logs(rows)

In [139]:
food_logs

Measure     Calories  Carbs   Fat  Fiber  Protein  Sodium  Water
date
2018-05-27       0.0    0.0   0.0    0.0      0.0     0.0    0.0
2018-05-28       0.0    0.0   0.0    0.0      0.0     0.0    0.0
2018-05-29       0.0    0.0   0.0    0.0      0.0     0.0    0.0
2018-05-30       0.0    0.0   0.0    0.0      0.0     0.0    0.0
2018-05-31    1210.0  167.0  42.0    4.0     44.0  3160.0    0.0
2018-06-01       0.0    0.0   0.0    0.0      0.0     0.0    0.0
2018-06-02       0.0    0.0   0.0    0.0      0.0     0.0    0.0
2018-06-03       0.0    0.0   0.0    0.0      0.0     0.0    0.0
2018-06-04       0.0    0.0   0.0    0.0      0.0     0.0    0.0
2018-06-05       0.0    0.0   0.0    0.0      0.0     0.0    0.0
2018-06-06       0.0    0.0   0.0    0.0      0.0     0.0    0.0
2018-06-07       0.0    0.0   0.0    0.0      0.0     0.0    0.0
2018-06-08       0.0    0.0   0.0    0.0      0.0     0.0    0.0
2018-06-09       0.0    0.0   0.0    0.0      0.0     0.0    0.0
2018-06-10       0.0    0.0   0.0    0.0      0.0     0.0    0.0
2018-06-11       0.0    0.0   0.0    0.0      0.0     0.0    0.0
2018-06-12       0.0    0.0   0.0    0.0      0.0     0.0    0.0
2018-06-13       0.0    0.0   0.0    0.0      0.0     0.0    0.0
2018-06-14       0.0    0.0   0.0    0.0      0.0     0.0    0.0
2018-06-15       0.0    0.0   0.0    0.0      0.0     0.0    0.0
2018-06-16       0.0    0.0   0.0    0.0      0.0     0.0    0.0
2018-06-17       0.0    0.0   0.0    0.0      0.0     0.0    0.0
2018-06-18       0.0    0.0   0.0    0.0      0.0     0.0    0.0
2018-06-19       0.0    0.0   0.0    0.0      0.0     0.0    0.0
2018-06-20       0.0    0.0   0.0    0.0      0.0     0.0    0.0
2018-06-21       0.0    0.0   0.0    0.0      0.0     0.0    0.0
2018-06-22       0.0    0.0   0.0    0.0      0.0     0.0    0.0
2018-06-23       0.0    0.0   0.0    0.0      0.0     0.0    0.0
2018-06-24       0.0    0.0   0.0    0.0      0.0     0.0    0.0
2018-06-25       0.0    0.0   0.0    0.0      0.0     0.0    0.0
2018-06-26       0.0    0.0   0.0    0.0      0.0     0.0    0.0